/Ex3/Ex3/nbproject/private/
/Ex3/Ex3/build/
/Ex3/Ex4/nbproject/private/
/Ex3/Ex4/build/
/Ex3/Ex5/nbproject/private/
/Ex3/Ex5/build/
/Ex3/ex6/nbproject/private/
/Ex3/ex6/build/
/Ex3/Ex7/nbproject/private/
/Ex3/Ex7/build/