/Ex3/Ex3/nbproject/private/
/Ex3/Ex3/build/
/Ex3/Ex4/nbproject/private/
/Ex3/Ex4/build/
/Ex3/Ex5/nbproject/private/
/Ex3/Ex5/build/
/Ex3/ex6/nbproject/private/
/Ex3/ex6/build/
/Ex3/Ex7/nbproject/private/
/Ex3/Ex7/build/
/Practice 2/Ex1/nbproject/private/
/Practice 2/Ex2/nbproject/private/
/Practice 2/Ex1/build/
/Practice 2/Ex2/build/
/Practice 2/Ex3/nbproject/private/
/Practice 2/Ex3/build/
/Practice 2/Ex4/nbproject/private/
/Practice 2/Ex4/build/
/Practice 2/Ex5/nbproject/private/
/Practice 2/Ex5/build/
/Practice 2/Ex6/nbproject/private/
/Practice 2/Ex6/build/
/Practice 2/Ex7/nbproject/private/
/Practice 2/Ex7/build/
/Practice 2/Ex9/nbproject/private/
/Practice 2/Ex9/build/
/Practice 2/Ex10/nbproject/private/
/Practice 2/Ex10/build/
/Practice 2/Ex11/nbproject/private/
/Practice 2/Ex11/build/
/Practice 2/Ex12/nbproject/private/
/Practice 2/Ex12/build/
/Practice 2/Ex13/nbproject/private/
/Practice 2/Ex13/build/
/Practice 2/Ex14/nbproject/private/
/Practice 2/Ex14/build/
/Practice 2/Ex15/nbproject/private/
/Practice 2/Ex15/build/
/Practice 2/Ex8/nbproject/private/
/Practice 2/Ex8/build/
/Practice 3 (switch)/JavaApplication7/nbproject/private/
/Practice 3 (switch)/Ex1/nbproject/private/
/Practice 3 (switch)/Ex1/build/
/Practice 3 (switch)/Ex2/nbproject/private/
/Practice 3 (switch)/Ex2/build/
/Practice 2/17 mayo/nbproject/private/
/Practice 3 (switch)/Clase #7/nbproject/private/
/Practice 3 (switch)/Clase #7/build/
/Practice 4 (String)/Practice String/nbproject/private/
/Practice 4 (String)/Practice String/build/
/Class/Array/Arrays/nbproject/private/
/Class/Array/Arrays/build/
/Practice 5 (arrays)/Practica Arreglos/nbproject/private/
/Practice 5 (arrays)/Practica Arreglos/build/
/Class/Matriz/Matriz/nbproject/private/
/Class/Matriz/Matriz/build/
/Class/Matriz/Practice 6 (Matrix)/nbproject/private/
/Class/Matriz/Practice 6 (Matrix)/build/
/Practice 2 (Matrix)/Matrix 2/nbproject/private/
/Practice 2 (Matrix)/Matrix 2/build/
/Practice 2 (Matrix)/Examen 1 Jose Benavides/nbproject/private/
/Test/Examen 1 Jose Benavides/build/
/Test/Examen 1 Jose Benavides/Solucion Jose Benavides/nbproject/private/
/Test/Examen 1 Jose Benavides/Solucion Jose Benavides/build/